body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.bg { 
    width: 100vw;
    height: 100vh;
background-image: url("https://static.wixstatic.com/media/6fc52d_caec82a3d90249e8ad51e96ed20db5b1~mv2.jpg/v1/fill/w_640,h_376,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/6fc52d_caec82a3d90249e8ad51e96ed20db5b1~mv2.jpg");
background-repeat: no-repeat;
background-size: cover;
z-index: -2;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    text-align: center;
}

.headertext {
    display: flex;
    flex-direction: column;
}
// // body {
//     background-image: url(computer.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     margin: 0;
// }
// // .container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     height: 100vh; /* Adjust the height as needed */
//     color: white; /* Set text color to white */
//     text-align: center;
// }
// .topText {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }
// 9:26
// thats the stuff i first used in order to center it
// 9:28
// my topText was inside container, i thing u need to add centering things to all the divs u got







