
body {
  background-image: url(/images/cessna.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh; /* Ensure full height */
  margin: 0; /* Remove default margin */
  position: relative; /* Required for absolute positioning */
  
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* Optional: Center content horizontally */
  color: white;
  padding-top: 100px;
}

.navbar-nav .nav-link {
  margin-right: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
 }

 .dark-background-box {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  color: white; /* Text color */
  padding: 20px; /* Adjust the padding as needed */
}