
body {
  background-image: url(/images/cessna.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh; 
  margin: 0;
  position: relative;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  color: white;
  padding-top: 100px;
  
}


.navbar-nav .nav-link {
  margin-right: 80px;
  margin-bottom: 10px;
  margin-top: 10px;
 }

 .dark-background-box {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  padding: 20px; 
}